.check {
  width: 100%;
  text-align: center;
  color: rgb(17, 186, 17);
  font-size: 1.5rem;
}
.x {
  width: 100%;
  text-align: center;
  color: rgb(189, 29, 29);
  font-size: 1.5rem;
}

.link {
  color: blue;
  text-decoration: underline;
}

.tableContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.rowCountSelectorContainer {
  position: relative;
  align-self: center;
  top: -2.2rem;
  display: flex;
}
.rowCountLabel {
  font-size: 0.9rem;
  padding: 2px 0;
}

.rowSelector input {
  width: 3rem;
  margin: 0 1rem;
}
