.toggleContainer {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 30px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 3px;
}

.toggle {
  height: 24px;
  width: 24px;
  border-radius: 50%;
  background-color: #fff;
}

.toggleContainerTrue {
  transition: 0.5s;
  background-color: #00c853;
}
.toggleContainerFalse {
  transition: 0.5s;
  background: rgb(218, 22, 22);
}
.stateTrue {
  transition: 0.7s;
  transform: translate(30px);
}
.stateFalse {
  transition: 0.7s;
  align-self: flex-start;
}

.toggle-label {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 30px;
}
